a {
		color: blue;	
		text-decoration: none;
		font-family: "Roboto";
		transition: color 0.3s ease;
	}
    
    a:hover {
    	color: orange;
    	font-family: "Roboto";
    	text-decoration: none;
    }

h2{
			color: #ECAA4B;
			font-family: Helvetica;
		}
	
img{
			border-radius: 50%
		}

.img-circle{
	border-radius: 50%;
}


.container{
	display: block;
	width: 1000px;
	margin: 40px auto;
	text-align: center;

}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.card-blue{
	background: #f0f7fa;
	margin: 20px auto;
	padding: 30px;
	border-radius: 4px;
	width: 800px;
	box-shadow: 0 15px 35px rgba(0,0,0,.1);

}


.btn-blue{
	background-color: #FFFFFF;
	color: #5485d9;
	padding: 10px 15px;
	border-radius: 4px;

}

.btn-blue:hover{
	background-color:#FFFFFF;
}

.list-inline{
	list-style: none;
	padding-left: 0px;

}

.list-inline li{
	display:inline;
	padding: 10px;

}

.list-inline i{
	font-size: 50px
}

#introduction p{
	margin-bottom: 30px;
}






